form {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1e1e1f;
  margin-bottom: 26px;
}

.TodoForm-input {
  background-color: #f9fbfc;
  border: 2px solid #202329;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  width: calc(100% - 25px);
  margin-bottom: 4px;
}

textarea {
  background-color: #f9fbfc;
  border: 2px solid #202329;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

textarea:focus {
  outline-color: #61dafa;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 20px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.TodoForm-button--add {
  background: #43c7ff;
  box-shadow: 0 5px 25px rgba(97, 218, 250, 0.5);
  font-weight: bold;
}

.TodoForm-button--cancel {
  background: transparent;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
