.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dbe3fc;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icon {
      flex: 0 0 24px;
      margin-right: 10px;
    }

    input {
      flex: 1;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
}

.error {
  color: red;
  text-align: center;
}
